In [1]:
import pandas as pd
df = pd.read_csv('JC-201901-citibike-tripdata.csv')
df.head(5)
df.columns = [c.replace(' ', '_') for c in df.columns]
df.head(5)

,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [2]:
print('Dimensions in df:'); df.shape

Dimensions in df:

(19676, 15)

In [3]:
df.describe()

,tripduration,start_station_id,start_station_latitude,start_station_longitude,end_station_id,end_station_latitude,end_station_longitude,bikeid,birth_year,gender
count,19676.000000,19676.000000,19676.000000,19676.000000,19676.000000,19676.000000,19676.000000,19676.000000,19676.000000,19676.000000
mean,446.932812,3273.050315,40.722975,-74.046754,3268.876906,40.722587,-74.046250,28385.682964,1981.110287,1.182710
std,2109.019485,145.846496,0.007032,0.010746,142.936339,0.006819,0.010647,1542.198584,10.100201,0.455945
min,61.000000,3183.000000,40.709651,-74.083639,3183.000000,40.709651,-74.083639,17432.000000,1888.000000,0.000000
25%,209.000000,3192.000000,40.718489,-74.050656,3186.000000,40.718355,-74.050389,26275.000000,1976.000000,1.000000
50%,295.000000,3207.000000,40.721525,-74.044247,3205.000000,40.721124,-74.043845,29273.000000,1984.000000,1.000000
75%,452.000000,3273.000000,40.727224,-74.038526,3273.000000,40.727224,-74.038526,29525.000000,1989.000000,1.000000
max,187392.000000,3694.000000,40.748716,-74.032108,3694.000000,40.748716,-74.032108,34146.000000,2001.000000,2.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19676 entries, 0 to 19675
Data columns (total 15 columns):
tripduration               19676 non-null int64
starttime                  19676 non-null object
stoptime                   19676 non-null object
start_station_id           19676 non-null int64
start_station_name         19676 non-null object
start_station_latitude     19676 non-null float64
start_station_longitude    19676 non-null float64
end_station_id             19676 non-null int64
end_station_name           19676 non-null object
end_station_latitude       19676 non-null float64
end_station_longitude      19676 non-null float64
bikeid                     19676 non-null int64
usertype                   19676 non-null object
birth_year                 19676 non-null int64
gender                     19676 non-null int64
dtypes: float64(4), int64(6), object(5)
memory usage: 2.3+ MB

In [5]:
#how many missing values in df
df.isnull().sum()

tripduration               0
starttime                  0
stoptime                   0
start_station_id           0
start_station_name         0
start_station_latitude     0
start_station_longitude    0
end_station_id             0
end_station_name           0
end_station_latitude       0
end_station_longitude      0
bikeid                     0
usertype                   0
birth_year                 0
gender                     0
dtype: int64

In [6]:
df.birth_year.value_counts()
print('usertype value counts'); df.usertype.value_counts()

usertype value counts

Subscriber    19267
Customer        409
Name: usertype, dtype: int64

In [7]:
print('gender counts')
df.gender.value_counts()

gender counts

1    14929
2     4171
0      576
Name: gender, dtype: int64

In [8]:
print('birth year counts')
df.birth_year.value_counts().head(10)

birth year counts

1988    1283
1987    1157
1989    1053
1990     958
1986     956
1980     896
1985     854
1991     844
1981     774
1984     755
Name: birth_year, dtype: int64